.footer {
  margin-top: 24.5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  background: linear-gradient(to bottom, #2c5a5a, #1b3838);
  border-top: 6px solid #4dd0e1;
  color: rgb(220, 220, 220);
  padding: 10px 20px;

}


.participantes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.participantes h3 {
  margin-bottom: 10px;
  font-size: 20px;
  border-bottom: 2px solid #4dd0e1;
  padding-bottom: 5px;
  width: 100%;
}
.participantes ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.participantes ul li {
  margin: 8px 0;
  margin-top: 40px;
}
.participantes ul li a {
  font-size: 20px;
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease;
}
.participantes ul li a:hover {
  color: #4dd0e1;
  text-shadow: 0 0 7px #4dd0e1;
}





.social h3{
    margin-bottom: 10px;
  font-size: 20px;
  border-bottom: 2px solid #4dd0e1;
  padding-bottom: 5px;
  width: 100%;
}
.social
{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}
.social a {
  color: inherit;
  margin-bottom: 0px;
  margin-top: 35px;
  font-size: 20px;
  padding-bottom: 5px;
}
.social a:hover{
  color: #852d82;
  text-shadow: 0 0 7px #df32bf;
  transition: 0.3s ease;
}
.social h5{
  margin-top: 50px;
  margin-bottom: 0px;
 }


.maps a {
  color: inherit;
  margin-bottom: 10px;
  font-size: 20px;
  padding-bottom: 5px;
}
.maps a:hover{
  color: #e6370b;
  text-shadow: 0 0 7px #532218;
  transition: 0.3s ease;
}
.maps h3{
margin-bottom: 10px;
  font-size: 20px;
  border-bottom: 2px solid #4dd0e1;
  padding-bottom: 5px;
  text-align: center;

}
.maps img{
margin-top: 5%;
margin-bottom: 5%;
width: 60%;
height: 45%;
}
.maps p{
    margin-top: -5%;
    font-size: 15px;
}




@media (max-width: 900px) {
  .footer {
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
  }

  .maps img {
    width: 70%;
    height: auto;
  }
}


@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr; 
    text-align: center;
  }

  .participantes,
  .social,
  .maps {
    align-items: center;
  }

  .maps img {
    width: 80%;
    height: auto;
  }

  .participantes ul li a,
  .social a,
  .maps a {
    font-size: 18px;
  }
}
